USE [master]
GO
/****** Object:  Database [OpenX]    Script Date: 19/08/2025 11:46:15 a. m. ******/
CREATE DATABASE [OpenX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpenX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OpenX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpenX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OpenX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpenX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpenX]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 19/08/2025 11:46:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReglasDeAcceso]    Script Date: 19/08/2025 11:46:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReglasDeAcceso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioAsignado] [varchar](50) NOT NULL,
	[DispositivoAsignado] [varchar](50) NOT NULL,
	[Horario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/08/2025 11:46:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[NombreUsuario] [nchar](50) NULL,
	[Contrasena] [nchar](50) NULL,
	[Rol] [nchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ReglasDeAcceso] ON 

INSERT [dbo].[ReglasDeAcceso] ([ID], [UsuarioAsignado], [DispositivoAsignado], [Horario]) VALUES (10, N'Administrador', N'Dispositivo - 001', N'6:00pm/7:00pm')
SET IDENTITY_INSERT [dbo].[ReglasDeAcceso] OFF
GO
INSERT [dbo].[Usuarios] ([NombreUsuario], [Contrasena], [Rol]) VALUES (N'admin                                             ', N'123                                               ', N'Administrador                                     ')
INSERT [dbo].[Usuarios] ([NombreUsuario], [Contrasena], [Rol]) VALUES (N'user                                              ', N'123                                               ', N'Usuario                                           ')
GO
USE [master]
GO
